<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.watts.findertoterm</string>
	<key>category</key>
	<string>development</string>
	<key>connections</key>
	<dict>
		<key>46135EE2-2CCE-4515-BAB9-FAAA954F8645</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F2C6BF4-6825-44FC-AF28-1582BE67B5EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F2C6BF4-6825-44FC-AF28-1582BE67B5EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDAB1AD0-959E-4A53-8E15-E46805C93CCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56B70F85-BF51-4BEE-BF99-496E8C874971</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F44A4D1F-2D22-4594-AB6B-291CAFD124B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D896E6F-1A9B-4C70-A644-6D59F03922EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBAABF35-3509-4E05-8736-04243805561A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5CD54F2-FED7-4AFE-8A0C-21DB7C5208B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46135EE2-2CCE-4515-BAB9-FAAA954F8645</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56B70F85-BF51-4BEE-BF99-496E8C874971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBAABF35-3509-4E05-8736-04243805561A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F51C3D1E-FCF1-4753-8D9D-3EF007817234</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDAB1AD0-959E-4A53-8E15-E46805C93CCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58FFD359-35A0-412F-B278-B9C17C760185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F51C3D1E-FCF1-4753-8D9D-3EF007817234</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5CD54F2-FED7-4AFE-8A0C-21DB7C5208B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rachit Watts</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Current Finder Window in Terminal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to set the clipboard to q end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>58FFD359-35A0-412F-B278-B9C17C760185</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	tell application "System Events" to set currentClipboard to the clipboard	return currentClipboard
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBAABF35-3509-4E05-8736-04243805561A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:curClip}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BDAB1AD0-959E-4A53-8E15-E46805C93CCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>curClip</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F51C3D1E-FCF1-4753-8D9D-3EF007817234</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	tell application "iTerm2"
		activate
	end tell

	set itermRunning to is_running("iTerm2")		
	if itermRunning
		tell application "System Events"
        		keystroke "t" using command down
		end tell
		delay 0.5
	else
		delay 1.5
	end if
    tell application "System Events"
        keystroke "v" using command down
        keystroke return
    end tell
end run


on is_running(appName)	tell application "System Events" to (name of processes) contains appNameend is_running</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F2C6BF4-6825-44FC-AF28-1582BE67B5EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>46135EE2-2CCE-4515-BAB9-FAAA954F8645</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>findterm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open in Terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D896E6F-1A9B-4C70-A644-6D59F03922EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  try	tell application "Finder" to set finderPath to POSIX path of (target of window 1 as alias)	tell application "System Events" to set the clipboard to ("cd " &amp; finderPath)	return 1on error	return 0end try
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A5CD54F2-FED7-4AFE-8A0C-21DB7C5208B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>No active finder window</string>
				<key>title</key>
				<string>No finder window found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F44A4D1F-2D22-4594-AB6B-291CAFD124B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>56B70F85-BF51-4BEE-BF99-496E8C874971</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Opens directory in foremost window of finder in iTerm2.</string>
	<key>uidata</key>
	<dict>
		<key>46135EE2-2CCE-4515-BAB9-FAAA954F8645</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>finder window path captured</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>4F2C6BF4-6825-44FC-AF28-1582BE67B5EF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>56B70F85-BF51-4BEE-BF99-496E8C874971</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>no finder window found</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>58FFD359-35A0-412F-B278-B9C17C760185</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>8D896E6F-1A9B-4C70-A644-6D59F03922EC</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>A5CD54F2-FED7-4AFE-8A0C-21DB7C5208B0</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>BBAABF35-3509-4E05-8736-04243805561A</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>BDAB1AD0-959E-4A53-8E15-E46805C93CCD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F44A4D1F-2D22-4594-AB6B-291CAFD124B3</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F51C3D1E-FCF1-4753-8D9D-3EF007817234</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
